//- footer#hot_footer
//- 	//- AJAX event
footer#hot_footer
	.container
		.copyright
			ul.clearfix
				li
					img(src='//landing.mangot5.com/template/happytuk/new3/images/logo_mangot5.png')
				li
					img(src='https://landing.mangot5.com/template/hot/event/nav/images/mgame.png')
				li
					img.rating(src='https://images.mangot5.com/happytuk/tukimages/rating-12.png')
					span
						|本遊戲部分內容涉及暴力情節請避免沉迷遊戲
						br
						|本遊戲為免費制，另外提供付費購買虛擬物品
						br
						|長時間進行遊戲，容易影響正常作息，宜適度休息及運動
			p.cp
				| &copy;HAPPYTUK Co., Ltd. All Rights Reserved. 
				br
				| &copy;MGAME Copr. All Rights Reserved.
	link(rel='stylesheet' href='https://landing.mangot5.com/template/hot/event/nav/css/footer.css')
